/* nav ul { list-style: none; margin: 0.8; padding: 0; display: flex; justify-content: space-around; }
nav li {margin-right: 30px;}
nav a {text-decoration: lightskyblue;color: #337ab7 ;}
nav a:hover {color: hsl(315, 56%, 31%); }
/* 
body {
background-image: url('images/peakpx.jpg');
background-size: cover;
background-position: center;
} */

/* .navigational_bar {  */
    /* height: 100px;  */
    /* width: 100%; */
    /* background-color: (light pink);(255, 255, 255, 0.73) */
    
    /* flex: 1 1 auto; */
   /* list-style: none; */
   /* margin: 0.8; */
   /* padding: 0; */
   /* justify-content: space-around;  */
    /* margin-right: 30px; */
    /* text-decoration: lightskyblue;color: #337ab7 ; */
    /* hover color: #7c2366; }  */
} */

.about_the_island {
    height: 190px;
    background-color: rgba(217, 171, 228, 0.797);
    color: white;
    position: center; 
    position: sticky;
    right: 15px;
    top: 20px;
    width: 80px;
    height: 80px; */
}

.about_the_island::before {
    content: url('images/OIP.jpeg');
}

